# Unconstrained Packages
bleach
bumpversion
flake8
markdown
pymdown-extensions
sphinx
sphinx-autobuild
sphinx-rtd-theme

# Version Constrained Packages
django >=1.8,<1.10
django-admin-sortable >=1.7.1,<2.1