{% load static %}

<!DOCTYPE html>
<html>

<head>

    <title>{% block page_title %}Simple Forum{% endblock %}</title>

</head>

<body>

    <header>

        <nav>
            <ul>
                <li><a href="{% url 'thread-list' %}">Home</a></li>

                {% if request.user.is_authenticated %}

                    <li><a href="#">New Thread</a></li>
                    <li><a href="#">Log Out</a></li>

                {% else %}

                    <li><a href="#">Log In</a></li>

                {% endif %}

            </ul>
        </nav>

    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

</body>

</html>