{% extends 'simple_forums/base.html' %}

{% block content %}

	{% if thread_list %}

		<table class="table table-hover thread-table">

			<thead>
				<tr>
					<th colspan="8">Title</th>
				</tr>
			</thead>

			<tbody>

				{% for thread in thread_list %}

					<tr>
						<td colspan="8">
							<p><a href="{% url 'thread-detail' thread.pk %}">{{ thread.title }}</a></p>
							<p class="text-muted">{{ thread.message_set.get.user }}, {{ thread.time_created }}</p>
						</td>
					</tr>

				{% endfor %}

		</table>

	{% else %}
		<p>No threads found.</p>
	{% endif %}

{% endblock %}