{% extends 'simple_forums/base.html' %}

{% block content %}

	<div class="row">
		<div class="col-md-8 col-md-offset-2">

			<h1>{{ thread.title }}</h1>

			<hr />

			{% with thread.message_set.all as messages %}
				{% if messages %}
					{% for message in messages %}

						<div class="row post-area">

							<div class="col-sm-3">
								<div class="post-heading">
									<h4 class="text-primary">{{ message.user }}</h4>
									<p>{{ message.time_created }}</p>
									<span class="hidden-xs arrow"></span>
								</div>
							</div>

							<div class="col-sm-9">
								<div class="post-content">
									{{ message.body }}
								</div>
							</div>

						</div>

						<hr />

					{% endfor %}
				{% else %}

					<p>There are no replies to this thread.</p>

				{% endif %}
			{% endwith %}

		</div>
	</div>

{% endblock %}