{% extends 'simple_forums/base.html' %}

{% block content %}

	{% if thread_list %}

		<table>

			<thead>
				<tr>
					<th colspan="8">Title</th>
					<th colspan="2">Replies</th>
					<th colspan="2">Last Activity</th>
				</tr>
			</thead>

			<tbody>

				{% for thread in thread_list %}

					<tr>
						<td colspan="8">
							<a href="{% url 'thread-detail' thread.pk thread.slug %}">{{ thread.title }}</a>
						</td>
						<td colspan="2">{{ thread.num_replies }}</td>
						<td colspan="2">{{ thread.time_last_activity }}</td>
					</tr>

				{% endfor %}

		</table>

	{% else %}

		<p>No threads found.</p>
		
	{% endif %}

{% endblock %}