{% extends 'simple_forums/base.html' %}

{% load simple_forum_tags %}

{% block page_title %}{{ thread.title }}{% endblock %}

{% block content %}

	<h1>{{ thread.title }}</h1>
	<h5>Created {{ thread.time_created }}</h5>

	<hr />

	<form id="follow-form" action="{% url 'follow-thread' thread.pk %}" method="post">

		{% csrf_token %}

		<input type="checkbox" id="check-follow" name="follow" /> <label>Follow Thread</label><br />
		<button type="submit">Update Preferences</button>
	</form>

	{% with thread.message_set.all as messages %}
		{% if messages %}
			{% for message in messages %}

				<div id="{{ message.get_anchor }}" class="post-area">

					<div class="post-heading">
						<h4 class="text-primary">{{ message.user }}</h4>
						<p>{{ message.time_created }}</p>
					</div>

					<div class="post-content">
						{% render_markup message.body %}
					</div>

				</div>

				<hr />

			{% endfor %}
		{% else %}

			<p>There are no replies to this thread.</p>

		{% endif %}
	{% endwith %}

	{% if reply_form %}

		<h3>Reply</h3>

		<form action="" method="post">

			{% csrf_token %}

			{{ reply_form.as_p }}

			<button type="submit">Post Reply</button>

		</form>

	{% else %}

		<p>You must be <a href="{% login_url %}">logged in</a> to reply.</p>

	{% endif %}

{% endblock %}